{{!
Copyright 2025 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
{{#Codec.IsServerStreaming}}
///     let mut resp_stream = client.{{Codec.Name}}()
{{> /templates/common/client_method_samples/builder_fields}}
///         .send().await?;
///     while let Some(response) = resp_stream.next().await {
///         let response = response?;
///         println!("response {:?}", response);
///     }
{{/Codec.IsServerStreaming}}
{{#Codec.IsBidiStreaming}}
///     let (sender, mut resp_stream) = client.{{Codec.Name}}()
///         .build();
///
///     sender.send({{InputType.Codec.Name}}::default()).await?;
///     drop(sender); // Half-close the stream
///
///     while let Some(response) = resp_stream.next().await {
///         let response = response?;
///         println!("response {:?}", response);
///     }
{{/Codec.IsBidiStreaming}}
{{#IsSimple}}
{{#ReturnsEmpty}}
///     client.{{Codec.Name}}()
{{> /templates/common/client_method_samples/builder_fields}}
///         .send().await?;
{{/ReturnsEmpty}}
{{^ReturnsEmpty}}
///     let response = client.{{Codec.Name}}()
{{> /templates/common/client_method_samples/builder_fields}}
///         .send().await?;
///     println!("response {:?}", response);
{{/ReturnsEmpty}}
{{/IsSimple}}
{{#IsLRO}}
{{#LongRunningReturnsEmpty}}
///     client.{{Codec.Name}}()
{{> /templates/common/client_method_samples/builder_fields}}
///         .poller().until_done().await?;
{{/LongRunningReturnsEmpty}}
{{^LongRunningReturnsEmpty}}
///     let response = client.{{Codec.Name}}()
{{> /templates/common/client_method_samples/builder_fields}}
///         .poller().until_done().await?;
///     println!("response {:?}", response);
{{/LongRunningReturnsEmpty}}
{{/IsLRO}}
{{#IsList}}
///     let mut list = client.{{Codec.Name}}()
{{> /templates/common/client_method_samples/builder_fields}}
///         .by_item();
///     while let Some(item) = list.next().await.transpose()? {
///         println!("{:?}", item);
///     }
{{/IsList}}
