{{!
Copyright 2024 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}
// Copyright {{Codec.CopyrightYear}} Google LLC
{{#Codec.BoilerPlate}}
//{{{.}}}
{{/Codec.BoilerPlate}}
{{#Codec.HasServices}}

{{#Codec.PerServiceFeatures}}
#[cfg(any({{#Codec.Services}}feature = "{{Codec.FeatureName}}",{{/Codec.Services}}))]
{{/Codec.PerServiceFeatures}}
use crate::Result;
#[allow(unused_imports)]
use crate::Error;

{{/Codec.HasServices}}
{{#Codec.Services}}
/// Implements [{{Codec.Name}}](super::stub::{{Codec.Name}}) using a [gaxi::http::ReqwestClient].
{{#Codec.PerServiceFeatures}}
#[cfg(feature = "{{Codec.FeatureName}}")]
{{/Codec.PerServiceFeatures}}
#[derive(Clone)]
pub struct {{Codec.Name}} {
    inner: gaxi::http::ReqwestClient,
    {{#Codec.HasBidiStreaming}}
    #[cfg(google_cloud_unstable_gapic_streaming)]
    grpc_inner: gaxi::grpc::Client,
    {{/Codec.HasBidiStreaming}}
}

{{#Codec.PerServiceFeatures}}
#[cfg(feature = "{{Codec.FeatureName}}")]
{{/Codec.PerServiceFeatures}}
impl std::fmt::Debug for {{Codec.Name}} {
    fn fmt(&self, f: &mut std::fmt::Formatter<'_>) -> std::result::Result<(), std::fmt::Error> {
        {{^Codec.HasBidiStreaming}}
        f.debug_struct("{{Codec.Name}}")
            .field("inner", &self.inner)
            .finish()
        {{/Codec.HasBidiStreaming}}
        {{#Codec.HasBidiStreaming}}
        let mut builder = f.debug_struct("{{Codec.Name}}");
        builder.field("inner", &self.inner);
        #[cfg(google_cloud_unstable_gapic_streaming)]
        builder.field("grpc_inner", &self.grpc_inner);
        builder.finish()
        {{/Codec.HasBidiStreaming}}
    }
}

{{#Codec.PerServiceFeatures}}
#[cfg(feature = "{{Codec.FeatureName}}")]
{{/Codec.PerServiceFeatures}}
impl {{Codec.Name}} {
    pub async fn new(config: gaxi::options::ClientConfig) -> crate::ClientBuilderResult<Self> {
        {{^Codec.HasBidiStreaming}}
        {{#Codec.DetailedTracingAttributes}}
        let tracing_is_enabled = gaxi::options::tracing_enabled(&config);
        let inner = gaxi::http::ReqwestClient::new(config, crate::DEFAULT_HOST).await?;
        let inner = if tracing_is_enabled {
            inner.with_instrumentation(&super::tracing::info::INSTRUMENTATION_CLIENT_INFO)
        } else {
            inner
        };
        Ok(Self { inner })
        {{/Codec.DetailedTracingAttributes}}
        {{^Codec.DetailedTracingAttributes}}
        let inner = gaxi::http::ReqwestClient::new(config, crate::DEFAULT_HOST).await?;
        Ok(Self { inner })
        {{/Codec.DetailedTracingAttributes}}
        {{/Codec.HasBidiStreaming}}
        {{#Codec.HasBidiStreaming}}
        {{#Codec.DetailedTracingAttributes}}
        let tracing_is_enabled = gaxi::options::tracing_enabled(&config);
        let inner = gaxi::http::ReqwestClient::new(config.clone(), crate::DEFAULT_HOST).await?;
        let inner = if tracing_is_enabled {
            inner.with_instrumentation(&super::tracing::info::INSTRUMENTATION_CLIENT_INFO)
        } else {
            inner
        };
        #[cfg(google_cloud_unstable_gapic_streaming)]
        let grpc_inner = if tracing_is_enabled {
            gaxi::grpc::Client::new_with_instrumentation(
                config,
                crate::DEFAULT_HOST,
                &super::tracing::info::INSTRUMENTATION_CLIENT_INFO,
            )
            .await?
        } else {
            gaxi::grpc::Client::new(config, crate::DEFAULT_HOST).await?
        };
        Ok(Self {
            inner,
            #[cfg(google_cloud_unstable_gapic_streaming)]
            grpc_inner,
        })
        {{/Codec.DetailedTracingAttributes}}
        {{^Codec.DetailedTracingAttributes}}
        let inner = gaxi::http::ReqwestClient::new(config.clone(), crate::DEFAULT_HOST).await?;
        #[cfg(google_cloud_unstable_gapic_streaming)]
        let grpc_inner = gaxi::grpc::Client::new(config, crate::DEFAULT_HOST).await?;
        Ok(Self {
            inner,
            #[cfg(google_cloud_unstable_gapic_streaming)]
            grpc_inner,
        })
        {{/Codec.DetailedTracingAttributes}}
        {{/Codec.HasBidiStreaming}}
    }
}

{{#Codec.PerServiceFeatures}}
#[cfg(feature = "{{Codec.FeatureName}}")]
{{/Codec.PerServiceFeatures}}
impl super::stub::{{Codec.Name}} for {{Codec.Name}} {
    {{#Codec.Methods}}
    {{#Codec.IsBidiStreaming}}
    #[cfg(google_cloud_unstable_gapic_streaming)]
    async fn {{Codec.Name}}(
        &self,
        options: crate::RequestOptions,
    ) -> (
        google_cloud_gax::streaming::RequestSender<{{InputType.Codec.QualifiedName}}>,
        google_cloud_gax::streaming::ResponseReceiver<{{OutputType.Codec.QualifiedName}}>,
    ) {
        use gaxi::prost::{FromProto, ToProto};
        use futures::stream::StreamExt as _;

        {{! TODO(#6835) - provide a way to configure the channel size }}
        let (req_tx, mut req_rx) = tokio::sync::mpsc::channel::<{{InputType.Codec.QualifiedName}}>(16);
        let (resp_tx, resp_rx) = tokio::sync::mpsc::channel::<crate::Result<{{OutputType.Codec.QualifiedName}}>>(16);

        let grpc_client = self.grpc_inner.clone();
        tokio::spawn(async move {
            let first_req = match req_rx.recv().await {
                Some(req) => req,
                None => return,
            };

            {{! TODO(#6835) - propagate request serialization errors back to send() instead of using expect() }}
            let req_stream = futures::stream::once(async move { first_req })
                .chain(tokio_stream::wrappers::ReceiverStream::new(req_rx))
                .map(|v| v.to_proto().expect("request serialization failed"));

            let extensions = {
                let mut e = gaxi::grpc::tonic::Extensions::new();
                e.insert(gaxi::grpc::tonic::GrpcMethod::new(
                    "{{SourceService.Package}}.{{SourceService.Name}}",
                    "{{Name}}",
                ));
                e
            };
            let path = http::uri::PathAndQuery::from_static(
                "/{{SourceService.Package}}.{{SourceService.Name}}/{{Name}}"
            );
            {{! TODO(#6835) - derive request params from initial request }}
            let x_goog_request_params = "";

            let result = grpc_client
                .bidi_stream::<
                    crate::prost::{{InputType.Codec.PackageModuleName}}::{{InputType.Codec.Name}},
                    crate::prost::{{OutputType.Codec.PackageModuleName}}::{{OutputType.Codec.Name}},
                >(
                    extensions,
                    path,
                    req_stream,
                    options,
                    &crate::info::X_GOOG_API_CLIENT_HEADER,
                    x_goog_request_params,
                )
                .await;

            match result {
                Ok(response) => {
                    let mut response_stream = response.into_inner();
                    while let Some(res) = response_stream.next().await {
                        let item = res
                            .map_err(gaxi::grpc::from_status::to_gax_error)
                            .and_then(|m| m.cnv().map_err(google_cloud_gax::error::Error::deser))
                            .map_err(Into::into);
                        if resp_tx.send(item).await.is_err() {
                            break;
                        }
                    }
                }
                Err(err) => {
                    {{! TODO(#6835) - propagate stream setup errors (result of bidi_stream) back to send() }}
                    let _ = resp_tx.send(Err(err.into())).await;
                }
            }
        });

        (
            google_cloud_gax::streaming::RequestSender::new(req_tx),
            google_cloud_gax::streaming::ResponseReceiver::new(resp_rx),
        )
    }

    {{/Codec.IsBidiStreaming}}
    {{^Codec.IsBidiStreaming}}
    async fn {{Codec.Name}}(
        &self,
        req: {{InputType.Codec.QualifiedName}},
        options: crate::RequestOptions,
    ) -> Result<crate::Response<{{Codec.ReturnType}}>> {
        {{^Codec.HasBindings}}
        let _ = req;
        let _ = options;
        Err(google_cloud_gax::error::Error::other("No path bindings matching this API exist").into())
        {{/Codec.HasBindings}}
        {{#Codec.HasBindings}}
        use google_cloud_gax::error::binding::BindingError;
        use gaxi::path_parameter::PathMismatchBuilder;
        use gaxi::http::reqwest::{Method, HeaderValue};
        {{#Codec.HasBindingSubstitutions}}
        use gaxi::path_parameter::try_match;
        use gaxi::routing_parameter::Segment;
        {{/Codec.HasBindingSubstitutions}}
        {{#HasAutoPopulatedFields}}
        let options = google_cloud_gax::options::internal::set_default_idempotency(
            options,
            true,
        );
        {{/HasAutoPopulatedFields}}
        {{#Codec.HasResourceNameGeneration}}
        {{#Codec.DetailedTracingAttributes}}
        let (builder, method, _path_template, _resource_name) = None
        {{/Codec.DetailedTracingAttributes}}
        {{^Codec.DetailedTracingAttributes}}
        let (builder, method, _resource_name) = None
        {{/Codec.DetailedTracingAttributes}}
        {{/Codec.HasResourceNameGeneration}}
        {{^Codec.HasResourceNameGeneration}}
        {{#Codec.DetailedTracingAttributes}}
        let (builder, method, _path_template) = None
        {{/Codec.DetailedTracingAttributes}}
        {{^Codec.DetailedTracingAttributes}}
        let (builder, method) = None
        {{/Codec.DetailedTracingAttributes}}
        {{/Codec.HasResourceNameGeneration}}
        {{#PathInfo.Bindings}}
        .or_else(|| {
            {{#Codec.HasVariablePath}}
            {{#Codec.Substitutions}}
            let {{VariableName}} = try_match({{{FieldAccessor}}}, {{{TemplateAsArray}}})?;
            {{/Codec.Substitutions}}
            let path = format!(
                "{{Codec.PathFmt}}",
                {{#Codec.Substitutions}}
                {{VariableName}},
                {{/Codec.Substitutions}}
            );
            {{/Codec.HasVariablePath}}
            {{^Codec.HasVariablePath}}
            let path = "{{Codec.PathFmt}}".to_string();
            {{/Codec.HasVariablePath}}
            {{#Codec.DetailedTracingAttributes}}
            let path_template = "{{Codec.PathTemplate}}";
            {{/Codec.DetailedTracingAttributes}}

            {{#Codec.HasResourceNameGeneration}}
            {{#Codec.ResourceNameTemplate}}
            let resource_name = format!(
                "{{{Codec.ResourceNameTemplate}}}",
                {{#Codec.ResourceNameArgs}}
                {{{.}}},
                {{/Codec.ResourceNameArgs}}
            );
            {{/Codec.ResourceNameTemplate}}
            {{^Codec.ResourceNameTemplate}}
            let resource_name = String::new();
            {{/Codec.ResourceNameTemplate}}
            {{/Codec.HasResourceNameGeneration}}
            let builder = self.inner.builder(Method::{{Verb}}, path);
            {{#Codec.QueryParamsCanFail}}
            let builder = (|| {
                {{#Codec.QueryParams}}
                {{{Codec.AddQueryParameter}}}
                {{/Codec.QueryParams}}
                Ok(builder)
            })();
            {{/Codec.QueryParamsCanFail}}
            {{^Codec.QueryParamsCanFail}}
            {{#Codec.QueryParams}}
            {{{Codec.AddQueryParameter}}}
            {{/Codec.QueryParams}}
            let builder = Ok(builder);
            {{/Codec.QueryParamsCanFail}}
            {{#Codec.HasResourceNameGeneration}}
            {{#Codec.DetailedTracingAttributes}}
            Some(builder.map(|b| (b, Method::{{Verb}}, path_template, resource_name)))
            {{/Codec.DetailedTracingAttributes}}
            {{^Codec.DetailedTracingAttributes}}
            Some(builder.map(|b| (b, Method::{{Verb}}, resource_name)))
            {{/Codec.DetailedTracingAttributes}}
            {{/Codec.HasResourceNameGeneration}}
            {{^Codec.HasResourceNameGeneration}}
            {{#Codec.DetailedTracingAttributes}}
            Some(builder.map(|b| (b, Method::{{Verb}}, path_template)))
            {{/Codec.DetailedTracingAttributes}}
            {{^Codec.DetailedTracingAttributes}}
            Some(builder.map(|b| (b, Method::{{Verb}})))
            {{/Codec.DetailedTracingAttributes}}
            {{/Codec.HasResourceNameGeneration}}
        })
        {{/PathInfo.Bindings}}
        .ok_or_else(|| {
            let mut paths = Vec::new();
            {{#PathInfo.Bindings}}
            {
                let builder = PathMismatchBuilder::default();
                {{#Codec.Substitutions}}
                let builder = builder.maybe_add(
                    {{{FieldAccessor}}},
                    {{{TemplateAsArray}}},
                    "{{FieldName}}",
                    "{{{TemplateAsString}}}");
                {{/Codec.Substitutions}}
                paths.push(builder.build());
            }
            {{/PathInfo.Bindings}}
            google_cloud_gax::error::Error::binding(BindingError { paths })
        })??;
        {{#Codec.DetailedTracingAttributes}}
        if let Some(recorder) = gaxi::observability::RequestRecorder::current() {
            recorder.on_client_request(
                gaxi::observability::ClientRequestAttributes::default()
                    .set_rpc_method("{{SourceService.Package}}.{{SourceService.Name}}/{{Name}}")
                    .set_url_template(_path_template)
                    {{#Codec.HasResourceNameGeneration}}
                    .set_resource_name(_resource_name)
                    {{/Codec.HasResourceNameGeneration}}
            );
        }
        {{/Codec.DetailedTracingAttributes}}
        let options = google_cloud_gax::options::internal::set_default_idempotency(
            options,
            {{! TODO(#4156) - return idempotency from the above closure }}
            gaxi::http::default_idempotency(&method),
        );
        let builder = builder
                {{#Codec.SystemParameters}}
                .query(&[("{{Name}}", "{{Value}}")])
                {{/Codec.SystemParameters}}
                .header("x-goog-api-client", HeaderValue::from_static(&crate::info::X_GOOG_API_CLIENT_HEADER));
        let body = gaxi::http::handle_empty({{{Codec.Body}}}, &method);
        self.inner.execute(
            builder,
            body,
            options,
        ).await
        {{#ReturnsEmpty}}
        .map(|r: crate::Response<{{OutputType.Codec.QualifiedName}}>| {
            let (parts, _) = r.into_parts();
            crate::Response::from_parts(parts, ())
        })
        {{/ReturnsEmpty}}
        {{/Codec.HasBindings}}
    }
    {{/Codec.IsBidiStreaming}}

    {{/Codec.Methods}}
    {{#Codec.HasLROs}}
    fn get_polling_error_policy(
        &self,
        options: &crate::RequestOptions,
    ) -> std::sync::Arc<dyn google_cloud_gax::polling_error_policy::PollingErrorPolicy> {
        self.inner.get_polling_error_policy(options)
    }

    fn get_polling_backoff_policy(
        &self,
        options: &crate::RequestOptions,
    ) -> std::sync::Arc<dyn google_cloud_gax::polling_backoff_policy::PollingBackoffPolicy> {
        self.inner.get_polling_backoff_policy(options)
    }
    {{/Codec.HasLROs}}
}

{{/Codec.Services}}
